name: Build

permissions:
  contents: read

on:
  push:
    paths:
      - "**.ts"
      - "**.json"
      - ".github/workflows/build.yml"
      - ".node-version"
  pull_request:
    branches:
      - main
    paths:
      - "**.ts"
      - "**.json"
      - ".github/workflows/build.yml"
      - ".node-version"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup-node
      - name: Build
        run: pnpm run build
