name: Lint

permissions:
  contents: read

on:
  push:
    paths:
      - "**.ts"
      - "**.json"
      - ".github/workflows/lint.yml"
      - ".node-version"
  pull_request:
    branches:
      - main
    paths:
      - "**.ts"
      - "**.json"
      - ".github/workflows/lint.yml"
      - ".node-version"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - name: Run Prettier Lint
        run: pnpm run lint
