name: Lint

permissions:
  contents: read

on:
  push:
    paths:
      - "**.ts"
      - "**.json"
      - ".github/workflows/lint.yml"
      - ".node-version"
  pull_request:
    branches:
      - main
    paths:
      - "**.ts"
      - "**.json"
      - ".github/workflows/lint.yml"
      - ".node-version"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm install
      - name: Run Prettier Lint
        run: pnpm run lint
